#main{
    background-color: gray;
    height: 300px;
    width: 250px;
    margin: auto;
}
#result{
    background-color: blue;
    width: 230px;
    height: 50px;
    color: white;
    text-align: right;
    padding: 10px;
}
#reset{
    width: 250px;
    height: 30px;
}
.all {
    display: inline-block;
    width: 250px;
    height: 100px;
    color: black;

}
button{
    width: 33%;
    height: 30px;
    color: black;
}